@media only screen and (max-width:768px){
    /* 
    * @author:王泽通
    * @date:2019-02-27
    * @instructions:千家严选响应式页面（手机）
    */
    *{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
    /*头部开始*/
    .scri-header{
        width: 100%;
        height: 1.8rem;
        margin: 0 auto;
        padding-top: 0.2rem;
        font-size: 0.5rem;
    }
    header p{
        font-weight: 600;
        letter-spacing: 0.05rem;
        margin-left: 0.4rem;
    }
    #head{
        display: inline-block;
        margin-top: 0.3rem;
    }
    .head-img{
        width: 0.5rem;
        margin-right: 0.05rem;
        margin-left: 0.4rem;
    }
    #head>span{
        position: relative;
        top: -0.15rem;
        font-size: 0.35rem;
        color: #5b6a91;
    }
    /*头部结束*/
    /*内容开始*/
    .stri-section{
        width: 100%;
        padding-top: 0.2rem;
    }
    #list{
        margin-left: 0.4rem;
        list-style: none;
    }
    .card{
        display: flex;
        align-items: center;
        border-top: solid 0.001rem #e2e2e2;
        padding-bottom: 0.1rem;
        padding: 0.25rem 0rem;
    }
    .card-img{
        width: 2.5rem;
        height: 2rem;
    }
    .card-img>img{
        width: 100%;
        height: 100%;
    }
    .card-font{
        width: 6.5rem;
        margin-left: 0.3rem;
        text-align: left;
    }
    .card-subject{
        font-size: 0.38rem;
    }
    .card-author{
        color: #999999;
        margin-top: 0.3rem;
        font-size: 0.3rem;
    }
    /*内容结束*/
}